<a style="font-size:111%;"href="/synthesizers/">List of Synths</a> ||| <a style="font-size:111%;"href="/musicians/">List of Musicians</a>
<h1>Favorite Synths of <%= @musician.name %>:</h1>
<% @synthesizers.each do |synthesizer| %>
<h2><%= synthesizer.brand %> <%= synthesizer.name %></h2>
<ul>
  <li>Year: <%= synthesizer.year %>
  <li>Engine: <%= synthesizer.engine %>
  <li>Value: $<%= synthesizer.value %> (Approximate Used Price)
  <li>Voice Count: <%= synthesizer.voice_count %>
  <li>Vintage? <%= synthesizer.vintage %>
</ul>
<% end %>
<%= link_to "Add Synthesizer", "/musicians/#{@musician.id}/synthesizers/new" %>