<a style="font-size:111%;"href="/synthesizers/">List of Synths</a> ||| <a style="font-size:111%;"href="/musicians/">List of Musicians</a>
<h1>Favorite Synths of <%= @musician.name %>:</h1>

<%= form_with url: "/musicians/#{@musician.id}/synthesizers/sort_by_polyphony", method: :get, local: true do |form| %>
  <%= form.label :Polyphony %>
  <%= form.text_field :Polyphony %>

  <%= form.submit "Sort" %>
<% end %>

<% @synthesizers.each do |synthesizer| %>
<br>---------------------------------------------------------------------------------------------------------------------</br>
<h2><%= synthesizer.brand %> <%= synthesizer.name %></h2>
<ul>
  <li>Year: <%= synthesizer.year %>
  <li>Engine: <%= synthesizer.engine %>
  <li>Value: $<%= synthesizer.value %> (Approximate Used Price)
  <li>Voice Count: <%= synthesizer.voice_count %>
  <li>Vintage? <%= synthesizer.vintage %>
  <br></br>
  <%= link_to "Edit #{synthesizer.name}", "/synthesizers/#{synthesizer.id}/edit" %>
</ul>
<% end %>
<br>---------------------------------------------------------------------------------------------------------------------</br>
<%= link_to "Add Synthesizer", "/musicians/#{@musician.id}/synthesizers/new" %>