<a style="font-size:111%;"href="/synthesizers/">List of Synths</a> ||| <a style="font-size:111%;"href="/musicians/">List of Musicians</a>
<br>------------------------------------------------------------------------</br>
<%= form_with url: "/musicians/#{@musician.id}/edit", method: :patch, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %> 
  <%= form.label :age %>
  <%= form.text_field :age %> 
  <%= form.label :genre %>
  <%= form.text_field :genre %> 
  <%= form.label :active? %>
  <%= form.text_field :active %> 

  <%= form.submit "Update #{@musician.name}" %>
<% end %>
