<style>
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
</style>
<h1 style="font-size:257%;">List updated frequently.</h1>
<h1 style="font-size:234%;">User may add new entries.</h2>
<% @musicians.each do |musician| %>  
  <h3 style="font-size:177%;"><a href="/artists/synthesizer/<%= musician.id %>"><%= musician.name %></a></h3>
  <p>Genre: <%= musician.genre %></p>
  <p>Age: <%= musician.age %></p>
  <p>Active? <%= musician.active %></p>
  <p>Favorite Synthesizer:</p>
<% end %>