<style>
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
</style>
<br>---------------------------------------------------------------------------------------------------------------------</br>
<a style="font-size:111%;"href="/synthesizers/">List of Synths</a> ||| <a style="font-size:111%;"href="/musicians/">List of Musicians</a>
<h1 style="font-size:257%;">List updated frequently.</h1>
<p style="font-size:177%;">Click name for google search, click Favorite Synthesizers for instrument specs.</p>
<%= button_to "Sort By Most Synths", "/musicians/sort_by_synth_count", method: :get %>
<br>---------------------------------------------------------------------------------------------------------------------</br>
<% @musicians.all.sort_by {|musician| musician.created_at} %>
<% @musicians.each do |musician| %>  
  <h3 style="font-size:177%;"><a href="https://www.google.com/search?q=<%= musician.name %>" target="_blank"><%= musician.name %></a></h3>
  <ul>
    <li>Genre: <span style="color:Aqua;"><%= musician.genre %></p>
    <li>Age: <span style="color:Aqua;"><%= musician.age %></p>
    <li>Active? <span style="color:Aqua;"><%= musician.active ? 'Yes' : 'No' %></p>
    <li>Number of Favorite Synths: <span style="color:Aqua;"><%= musician.synthesizers.count %></p>
    <li>Date Posted: <span style="color:Aqua;"><%= musician.created_at %></p>
    <li><%= link_to "#{musician.name}'s quick info:", "/musicians/#{musician.id}" %>
    <li><p><a href="/musicians/<%=musician.id%>/synthesizers/">Favorite Synthesizers:</a></p>
    <li><%= link_to "Edit #{musician.name}", "/musicians/#{musician.id}/edit" %>
    <br></br>
    <li><%= button_to "Delete #{musician.name}", "/musicians/#{musician.id}", method: :delete %>
  </ul>
  <br></br>
  <br>---------------------------------------------------------------------------------------------------------------------</br>
<% end %>
<%= link_to "New Musician", "/musicians/new" %>
<br>---------------------------------------------------------------------------------------------------------------------</br>
