<a style="font-size:111%;"href="/synthesizers/">List of Synths</a> ||| <a style="font-size:111%;"href="/musicians/">List of Musicians</a>
<h1><%= @musician.name %></h1>
<ul>
  <li>Age: <%= @musician.age %>
  <li>Genre: <%= @musician.genre %>
  <li>Active? <%= @musician.active %>
  <li>Synth Count: <%= @musician.synthesizers.count %>
</ul>
<ul>
  <li><%= link_to "Edit #{@musician.name}", "/musicians/#{@musician.id}/edit" %>
  <li><%= link_to "Delete #{@musician.name}", "/musicians/#{@musician.id}", data: { turbo_method: :delete } %>
</ul>
<a style="font-size:123%;"href="/musicians/<%= @musician.id %>/synthesizers">Favorite Synths of <%= @musician.name %></a>
