<a style="font-size:111%;"href="/synthesizers/">List of Synths</a>
<h1><%= @musician.name %></h1>
<ul>
  <li>Age: <%= @musician.age %>
  <li>Genre: <%= @musician.genre %>
  <li>Active? <%= @musician.active %>
  <li>Synth Count: <%= @musician.synthesizers.count %>%
</ul>