<style>
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
</style>
<style>
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
</style>
<br>---------------------------------------------------------------------------------------------------------------------</br>
<a style="font-size:111%;"href="/synthesizers/">List of Synths</a> ||| <a style="font-size:111%;"href="/musicians/">List of Musicians</a>
<h1 style="color:Orange;font-size:257%;">List updated frequently.</h1>
<h1 style="color:Orange;font-size:177%;">Click name for google search, click Favorite Synthesizers for instrument specs.</h1>
<br>---------------------------------------------------------------------------------------------------------------------</br>
<% @musicians.each do |musician| %>
  <h3 style="font-size:177%;"><a href="https://www.google.com/search?q=:<%= musician.name %>" target="_blank"><%= musician.name %></a></h3>
  <ul>
    <li>Genre: <%= musician.genre %></p>
    <li>Age: <%= musician.age %></p>
    <li>Active? <%= musician.active ? 'Yes' : 'No' %></p>
    <li>Number of Favorite Synths: <%= musician.synthesizers.count %></p>
    <li>Date Posted: <%= musician.created_at %></p>
    <li><%= link_to "#{musician.name}'s quick info:", "/musicians/#{musician.id}" %>
    <li><p><a href="/musicians/<%=musician.id%>/synthesizers/">Favorite Synthesizers:</a></p>
    <li><%= link_to "Edit #{musician.name}", "/musicians/#{musician.id}/edit" %>
    <br></br>
    <li><%= button_to "Delete #{musician.name}", "/musicians/#{musician.id}", method: :delete %>
  </ul>
  <br></br>
  <br>---------------------------------------------------------------------------------------------------------------------</br>
<% end %>
<%= link_to "New Musician", "/musicians/new" %>
<br>---------------------------------------------------------------------------------------------------------------------</br>
