<style>
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
</style>
<a style="font-size:111%;"href="/synthesizers/">List of Synths</a> ||| <a style="font-size:111%;"href="/musicians/">List of Musicians</a>
<h1><%= @synthesizer.brand %></h1>
<ul>
  <li>Name: <%= @synthesizer.name %>
  <li>Year: <%= @synthesizer.year %>
  <li>Engine: <%= @synthesizer.engine %>
  <li>Value: $<%= @synthesizer.value %>(Approximate used price.)
  <li>Voice Count: <%= @synthesizer.voice_count %>
  <li>Vintage? <%= @synthesizer.vintage %>
</ul>
<ul>
  <li><%= link_to "Edit #{@synthesizer.name}", "/synthesizers/#{@synthesizer.id}/edit" %>
  <li><%= link_to "Delete #{@synthesizer.name}", "/synthesizers/#{@synthesizer.id}", data: { turbo_method: :delete } %>
</ul>
